/* Common styles */
.center-content {
    text-align: center;
}

/* Book buttons */
.book-buttons {
    text-align: center;
    display: flex;
    justify-content: center;
}

.book-button {
    margin: 10px;
    position: relative;
}

/* Book covers */
.book-cover-img {
    width: 120px;
    height: 160px;
    border: 2px solid #181817;
    border-radius: 1px;
    margin: 10px;
    transition: transform 0.2s ease;
}

.book-button:hover {
    transform: scale(1.05);
}

/* Book titles */
/* Update the CSS for book-title to display horizontally */
.book-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: yellow;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    display: none; /* Hide the title by default */
}

.book-button:hover .book-title {
    display: block; /* Display the title when hovering over the book-button */
}


/* Book backgrounds */
.book-background {
    animation: bookBackgroundAnimation 20s linear infinite;
}

@keyframes bookBackgroundAnimation {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}

/* Custom font for your website */
@font-face {
    font-family: 'MagicSchoolTwo';
    src: url('../fonts/MagicSchoolTwo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Mobile styles */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar .navbar-logo {
        flex: 1;
    }

    .navbar .navbar-logo a {
        text-align: center;
    }
}

/* Homepage background */
.homepage-background {
    background-image: url('../backgrounds/home_page_background.bin');
    /* Other background properties */
}

/* Text styles */
.yellow-text-with-outline {
    color: rgba(211, 166, 37, 1);
}
