{% extends "layout.html" %}

{% block content %}
<section id="chamber_of_secrets" class="book-detail center-content">
    <header>
        <h1>Harry Potter and the Philosopher's Stone</h1>
    </header>
    
    <section class="book-description">
        <img src="{{ url_for('static', filename='images/book_covers/book1_cover.jpg') }}" alt="Harry Potter and the Chamber of Secrets cover">
        
        <p>
        Here will be a short description of the book taken from Wikipedia or another reliable source.
        </p>
    </section>

    <section class="book-trailer">
        <h2>Movie Trailer</h2>
        <!-- You can embed a YouTube video for the book's movie trailer -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mNgwNXKBEW0" frameborder="0" allowfullscreen></iframe>
    </section>
    
    <section class="book-analysis">
        <h2>Deep Analysis</h2>
        <!-- You can embed a YouTube video for a deep analysis of the book -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_k8G8BQCkWw" frameborder="0" allowfullscreen></iframe>
    </section>

    <section class="comments">
        <!-- A placeholder for the comments system. Could be integrated with Disqus or a custom comments system -->
        <h2>Comments</h2>
        <p>Place for visitors to leave comments.</p>
    </section>
</section>
{% endblock %}
