{% extends "layout.html" %}
{% block content %}
    <section class="homepage-background">
    </section>
    <section class="about center-content yellow-text-with-outline ">
        <h2>About the Harry Potter Series</h2>
        <p>The Harry Potter series by J.K. Rowling follows the adventures of Harry Potter, a young wizard, and his friends at Hogwarts School of Witchcraft and Wizardry. The central plot revolves around Harry's battle against the dark wizard Lord Voldemort, who seeks immortality and control over both the wizarding and non-magical worlds.</p>
    </section>
    <section class="center-content">
        <!-- Container for the video -->
        <div class="video-container center-content">
            <!-- Embed a YouTube video related to Harry Potter -->
            <iframe class="center-content"
                src="https://www.youtube.com/embed/Asm5LwWeXrs?si=4Mge2zULrqlht3Zm"
                frameborder="0"
                allowfullscreen
            ></iframe>
        </div>
    </section>
    
    
{% endblock %}
