<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/background-animations.css">
    <link rel="stylesheet" href="../static/css/fonts.css">
</head>
<body>
    <header class="center-content yellow-text-with-outline">
        <a href="/index.html" class="home-button"> <!-- Add a link to the home page -->
            <img src="../static/backgrounds/HomePageIcon2.png" alt="Home" class="home-logo" width="90" height="90"> <!-- Add your logo image here -->
        </a>

        <h1 style="font-family: 'MagicSchoolTwo' , sans-serif">Welcome to the Magical World of Harry Potter</h1>
        <p>Dive deep into the enchanting tales of bravery, friendship, and magic!</p>
    </header>

    <section class="book-buttons center-content">
        <!-- Book 1 -->
        <div class="book-button book1-background">
            <a href="{{ url_for('philosophers_stone') }}">
                <div class="book-cover">
                    <img src="{{ url_for('static', filename='images/book_covers/philosophers_stone/book1_cover.jpg') }}" alt="Harry Potter and the Philosopher's Stone cover" class="book-cover-img">
                    <div class="book-title">Harry Potter and the Philosopher's Stone</div>
                </div>
            </a>
        </div>
        
        <!-- Book 2 -->
        <div class="book-button book2-background">
            <a href="{{ url_for('chamber_of_secrets') }}">
                <div class="book-cover">
                    <img src="../static/images/book_covers/chamber_of_secrets/book2_cover.jpg" alt="Harry Potter and the Chamber of Secrets cover" class="book-cover-img">
                    <div class="book-title">Harry Potter and the Chamber of Secrets</div>
                </div>
            </a>
        </div>

        <!-- Book 3 -->
        <div class="book-button book3-background">
            <a href="{{ url_for('prisoner_of_azkaban') }}">
                <div class="book-cover">
                    <img src="../static/images/book_covers/prisoner_of_azkaban/book3_cover.jpg" alt="Harry Potter and the Prisoner of Azkaban cover" class="book-cover-img">
                    <div class="book-title">Harry Potter and the Prisoner of Azkaban</div>
                </div>
            </a>
        </div>

        <!-- Book 4 -->
        <div class="book-button book4-background">
            <a href="{{ url_for('goblet_of_fire') }}">
                <div class="book-cover">
                    <img src="../static/images/book_covers/goblet_of_fire/book4_cover.jpg" alt="Harry Potter and the Goblet of Fire cover" class="book-cover-img">
                    <div class="book-title">Harry Potter and the Goblet of Fire</div>
                </div>
            </a>
        </div>

        <!-- Book 5 -->
        <div class="book-button book5-background">
            <a href="{{ url_for('order_of_the_phoenix') }}">
                <div class="book-cover">
                    <img src="../static/images/book_covers/order_of_the_phoenix/book5_cover.jpg" alt="Harry Potter and the Order of the Phoenix cover" class="book-cover-img">
                    <div class="book-title">Harry Potter and the Order of the Phoenix</div>
                </div>
            </a>
        </div>        

        <!-- Book 6 -->
        <div class="book-button book6-background">
            <a href="{{ url_for('half_blood_prince') }}">
                <div class="book-cover">
                    <img src="../static/images/book_covers/half_blood_prince/book6_cover.jpg" alt="Harry Potter and the Half-Blood Prince cover" class="book-cover-img">
                    <div class="book-title">Harry Potter and the Half-Blood Prince</div>
                </div>
            </a>
        </div>        

        <!-- Book 7 -->
        <div class="book-button book7-background">
            <a href="{{ url_for('deathly_hallows') }}">
                <div class="book-cover">
                    <img src="../static/images/book_covers/deathly_hallows/book7_cover.jpg" alt="Harry Potter and the Deathly Hallows cover" class="book-cover-img">
                    <div class="book-title">Harry Potter and the Deathly Hallows</div>
                </div>
            </a>
        </div>        

    </section>
    <main>
        <!-- This block will be overridden by content from other templates -->
        {% block content %}
        {% endblock %}
    </main>
    <footer class="center-content">
        <p>&copy; 2023 The Magical World of Harry Potter | Designed by Dor Knafo</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% if is_home_page %}
    <script src="{{ url_for('static', filename='js/book1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/book2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/book3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/book4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/book5.js') }}"></script>
    <script src="{{ url_for('static', filename='js/book6.js') }}"></script>
    <script src="{{ url_for('static', filename='js/book7.js') }}"></script>
    {% endif %}
</body>
</html>
