{% extends "layout.html" %}

{% block content %}
<section id="order_of_the_phoenix" class="book-detail">
    <header>
        <h1>Harry Potter and the Order of the Phoenix</h1>
    </header>
    


    <section class="book-trailer">
        <h2>Movie Trailer</h2>
        <!-- Embed a YouTube video for the book's movie trailer -->
        <iframe width="560" height="315" src="YOUTUBE_URL_FOR_BOOK5_TRAILER" frameborder="0" allowfullscreen></iframe>
    </section>
    
    <section class="book-analysis">
        <h2>Deep Analysis</h2>
        <!-- Embed a YouTube video for a deep analysis of the book -->
        <iframe width="560" height="315" src="YOUTUBE_URL_FOR_BOOK5_ANALYSIS" frameborder="0" allowfullscreen></iframe>
    </section>

    <section class="comments">
        <!-- Placeholder for the comments system -->
        <h2>Comments</h2>
        <p>Place for visitors to leave comments.</p>
    </section>
</section>
{% endblock %}
